:root {
	--bg-1: white;
	--bg-2: hsl(116, 20%, 98%);
	--color-1: #1a6a43;

	scroll-behavior: smooth;
	font-family: "Josefin Sans", sans-serif;
	font-weight: 300;

	--nav-bar-height: 4rem;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3 {
	font-family: "Josefin Slab", sans-serif;
	font-weight: 600;
	color: var(--color-1);
}

h1 {
	font-size: 2.25rem;
	font-weight: 800;
}

h2 {
	font-size: 2rem;
	/* margin-bottom: 1.5rem; */
}

h3 {
	font-size: 1.5rem;
}

p {
	text-align: center;
	max-width: 50rem;
}

img {
	max-width: 100%;
	max-height: 70vh;
}

body {
	margin-top: var(--nav-bar-height);
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

/* * Navigation styling */

.navigation-bar {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: var(--bg-2);
	padding-inline: 1rem;
	height: var(--nav-bar-height);
	z-index: 9999;
}

.navigation-bar a {
	font-family: "Josefin Slab", sans-serif;
	font-size: 1.5rem;
	text-decoration: none;
	color: black;
}

.navigation-bar .hamburger {
	border: none;
	outline: none;
	background: transparent;
	display: flex;
	flex-direction: column;
	gap: 0.45rem;
	position: absolute;
	left: 1.25rem;
}

.navigation-bar .hamburger span {
	width: 1.35rem;
	height: 1px;
	background-color: black;
	transform-origin: left;
	transition-property: rotate, translate;
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition-duration: 200ms;
}

.navigation-bar .hamburger.open .top {
	rotate: 45deg;
	translate: 3px 0.5px;
}

.navigation-bar .hamburger.open .mid {
	opacity: 0;
}

.navigation-bar .hamburger.open .bot {
	rotate: -45deg;
	translate: 3px -0.5px;
}

.navigation-page {
	/* translate: -100% 0%; */
	position: fixed;
	top: var(--nav-bar-height);
	bottom: 0;
	left: -100%;
	width: 100vw;
	/* right: 0; */
	background-color: var(--bg-1);
	padding: 4rem 2.5rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	z-index: 9999;
}

.navigation-page .nav-subheading {
	font-size: 1.5rem;
	font-weight: 600;
}

.navigation-page .nav-list {
	margin-bottom: 2rem;
	margin-left: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.navigation-page .nav-list a {
	text-decoration: none;
	color: black;
	font-size: 1.25rem;
}

.desktop {
	display: none;
}

.dropdown-btns {
	position: absolute;
	right: 2rem;
	gap: 2rem;
}

.dropdown-btn {
	background-color: transparent;
	border: none;
	outline: none;
	font-family: "Josefin Slab", sans-serif;
	font-size: 1.5rem;
	cursor: pointer;
	position: relative;
	height: var(--nav-bar-height);
}

.dropdown-btn .nav-dropdown {
	position: absolute;
	width: 20rem;
	background-color: var(--bg-2);
	top: var(--nav-bar-height);
	right: -2rem;
	transform-origin: top;
	scale: 0;
	transition: scale 100ms;
}

.dropdown-btn ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding-block: 2rem;
}

@media (min-width: 50rem) {
	.mobile {
		display: none !important;
	}

	.desktop {
		display: flex;
	}
}

/* * Segment styling */

.segment {
	scroll-margin-top: calc(var(--nav-bar-height));

	min-height: calc(100vh - var(--nav-bar-height));

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2.25rem;
	gap: 4rem;
}

/* Home */
#home {
	gap: 1rem;
}

#home h1 {
	text-align: center;
	line-height: 130%;
}

/* Slideshow */
.slideshow {
	background-color: var(--bg-2);
	display: flex;
	flex-direction: column;
	align-items: center;
	/* gap: 1rem; */
}

.slideshow-content {
	position: relative;
	max-width: 50rem;
}

.slideshow .img-container {
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
}

.slideshow .img-container::-webkit-scrollbar {
	display: none;
}

.slideshow img {
	scroll-snap-align: center;
	object-fit: cover;
	min-width: 100%;
	aspect-ratio: 1;
}

.slideshow .indicator-container {
	position: absolute;
	bottom: 0.5rem;
	display: flex;
	flex-direction: row;
	gap: 0.25rem;
	left: 50%;
	translate: -50%;
}

.slideshow .indicator {
	background-color: hsl(0, 0%, 75%);
	width: 4rem;
	height: 0.25rem;
	border-radius: 100rem;
	cursor: pointer;
}

.slideshow .indicator.active {
	background-color: var(--bg-1);
}

.slideshow-prev,
.slideshow-next {
	position: absolute;
	top: 50%;
	font-size: 3rem;
	text-decoration: none;
	color: var(--bg-1);
	cursor: pointer;
	user-select: none;
}

.slideshow-prev {
	left: 0.5rem;
}

.slideshow-next {
	right: 0.5rem;
}

.slideshow-info-container {
	padding: 2rem;
}

.slideshow .img-info {
	display: none;
	flex-direction: column;
	align-items: center;
	gap: 0.75rem;
}

.slideshow .img-info.active {
	display: flex;
}

@media (min-width: 50rem) {
	.slideshow {
		flex-direction: row;
	}

	.slideshow .img-info {
		max-width: 20rem;
	}
}

/* About */
.persons-list {
	display: flex;
	flex-direction: column;
	gap: 6rem;
}

.person-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--bg-2);
	gap: 1rem;
}

.person-container img {
	aspect-ratio: 1/1;
	width: 100%;
	object-fit: cover;
}

.person-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 0.75rem;
	padding: 1rem;
}

.person-info p {
	max-width: 16rem;
}

@media (min-width: 50rem) {
	#about h2 {
		margin-bottom: 5rem;
	}

	.person-container {
		flex-direction: row;
	}

	.person-container img {
		max-width: 20rem;
	}

	.person-container:nth-child(even) {
		flex-direction: row-reverse;
	}

	.person-info p {
		max-width: 20rem;
	}
}

/* Background-Vision */
.vision-title {
	margin-top: 5em;
}

/* Bussiness-idea */

.citat {
	font-size: 1.5rem;
	font-family: "Josefin Slab", sans-serif;
	font-weight: 600;
	color: var(--color-1);
	max-width: 30rem;
	position: relative;
}

.citat::after,
.citat::before {
	font-family: "Josefin Slab", sans-serif;
	font-size: 6rem;
	position: absolute;
}

.citat::before {
	top: -0.1em;
	left: -0.01em;
	content: "“";
}

.citat::after {
	bottom: -0.85em;
	right: -0.01em;
	content: "”";
}
/* * Footer styling */

footer {
	background-color: var(--bg-2);
	display: flex;
	flex-direction: column;
	gap: 2em;
	padding: 4rem;
	padding-bottom: 5rem;
	align-items: center;
	font-size: 1.5rem;
	justify-content: center;
	margin: 0;
	position: relative;
}

footer a {
	color: black;
	text-decoration: none;
}

footer .social {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5em;
	font-size: 1.25rem;
	font-weight: 200;
}

footer .social i {
	font-size: 1.25em;
}

footer .cc {
	font-size: 1rem;
	font-weight: 200;
	position: absolute;
	bottom: 1rem;
}

@media (min-width: 50rem) {
	footer {
		flex-direction: row;
	}
}

@media (min-width: 70rem) {
	footer .social {
		flex-direction: row;
	}
}
